
p{
    font-size: 0.8rem;
}

h2{
    font-size: 1rem;
}

#btnGroupDrop1{
    background-color: #58cff6;
    color: black;
}

.navbar {
   color: black;
}

.logo_nav{
    width: 30vw;
}

.d-block{
    width:100%;
}

.carousel{
    box-shadow: 0px 4px #99c13c;
    margin-bottom: 35%;
}

.cal_box{
    width: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.calendar{
    margin-top: 2%;
    margin-left: 8%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%
}

.mini_calendar{
    margin-top: 2%;
    margin-left: 8%;
    width: 80vw;
    background-color: #e9ecef;
    box-shadow: 4px 4px  #35bae7;
    margin-bottom: 50%;
    padding-top: 2%;
    padding-left: 2%;
}

.foot{
    width: auto;
    margin-top: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo_foot{
    width: 80vw;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}

.logo_foot_legal{
    width: 80vw;
    margin-left: 10%;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-around;
    background-color: #e9ecef;
    box-shadow: 4px 4px  #35bae7;
    
}

.logo_foot_contact{
    width: 80vw;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-color: #e9ecef;
    box-shadow: 4px 4px  #35bae7;

}

.contact_p{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1rem;
}

.coord{
    font-size: 0.8rem;
}

.mentions{
    font-size: 1rem;
    margin-top: 5%;
    margin-left: 2%;
}

.logo_footer{
    margin-top: 15%;
    width: 10vw;
    opacity: 0.8;
}

.logo_footer:hover{
    opacity: 1;
}

@media screen and (min-width: 1200px) {
    .carousel{
        margin-bottom :0%;
    }
    .cal_box{
        display: flex;
        flex-direction: row;
    }
    .calendar{
        width: 50vw;
    
    }
    .mini_calendar{
        width: 25vw;
        margin-top: 2%;
        margin-right: 5%;
    }
    .logo_nav{
        width: 8vw;
    }
    .part{
        width: auto;
        border-bottom: 5px solid #3cb8ec;
        display: block;
        background-color: #e9ecef;
    }
    
    .logo_box{
        width: 80%;
        margin-left: 8%;   
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
    }
    
    .logo_a2s{
        width: 35vw;
        opacity: 0.8;
        margin-top: 3.5%;
    }
    .logo_a2s_2{
        width: 35vw;
        opacity: 0.8;
        margin-top: 1.5%; 
    }
    
    .logo_a2s:hover{
        opacity: 1;
    }
    .logo_a2s_2:hover{ 
        opacity: 1;
    }

    img{
        width: 35vw;
    }
    
    .a2s_2{
        width: 42vw;
        margin-bottom :5%; 
    }
    .histo{
        width: 80%;
        margin-left: 10%;   
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
    }
    
    .text_histo{
        font-size: 1.8rem;
    }
    
    .foot{
        width: auto;
        margin-right: 9%;
        margin-top: 0%;
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
    
    .logo_foot{
        width: 85vw;
        margin-top: 0.6%;
        display: flex;
        justify-content: space-around;
        background-color: #e9ecef;
        box-shadow: 4px 4px  #35bae7;
        padding-top: 7%;
    }

    .logo_foot_legal{
        width: 85vw;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 0.6%;
        display: flex;
        justify-content: space-around;
        background-color: #e9ecef;
        box-shadow: 4px 4px  #35bae7;
    }
    
    .logo_foot_contact{
        width: 85vw;
        padding-left: 1%;
        padding-top: 5%;
        margin-top: 0.6%;
        display: flex;
        flex-direction: column;
        background-color: #e9ecef;
        box-shadow: 4px 4px  #35bae7;
    }
    
    .contact_p{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 2rem;
    }
    
    .coord{
        font-size: 1.2rem;
    }
    
    .mentions{
        font-size: 2rem;
        margin-top: 5%;
        margin-left: 2%;
    }
    
    .logo_footer{
        margin-top: 45%;
        width: 6vw;
        opacity: 0.8;
    }
    
    .logo_footer:hover{
        opacity: 1;
    }
    
    .jumbotron{
        width: auto;
    }
    
    .part_logo{
        width: 4.9vw;
        opacity: 0.8;
    }
    
    .part_logo:hover{
        opacity: 1;
    }
    
    .legal{
        font-size: 1.1rem;
    }
    .d-block{
    width:100%;
    }
}



